
/* Hover Panel Styling */

#firefoxxo-hover-panel {
  height: 2rem;
  width: 4rem;
  position: absolute;
  margin: auto;
  top: -1rem;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: white;
  border: 3px solid orange;
  border-radius: 1rem;

}

#firefoxxo-hover-panel::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px;
  margin: auto;
  z-index: 1;
  display: block;
  width: 0;

  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-top: 5px orange solid;
}